################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleIntrinsics/obj/Debug/netcoreapp3.1
